@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    box-sizing: border-box;
}
body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background: #f0f5fa;
    font-size: 20px;
    
}
.header{
   position: relative;
    &__title{
        margin-top: 30px;
        padding-bottom: 10px;
        font-size: 45px;
        color: #101214;
    }
    &__subtitle{
        font-size: 30px;
        color: #85b6e7;
    }
    &__logo{
        height: 350px;
        position: absolute;
        top: 10px;
        right: 200px;
        
    }
    &__contacts{
        margin-top: 30px;
        width: 600px;
        display: flex;
        flex-flow: row wrap;
        
        &-tel{
            width: 250px;
            padding: 10px 5px;
            text-decoration: none;
            cursor: pointer;
            color: rgb(32, 31, 31);
            
        }
   
    }
}
.Self-info{
    border-top: solid 1px #000;
    width: 800px;
    margin-top: 50px;
    &__title{
        font-size: 30px;
    }
    &__subtitle{
        padding-top: 20px;
    }
}